@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

body {
    background-color: #1f2334;
    overflow-x: hidden;
    min-height: 400vh;
}

.container {
    width: 100vw;
    height: 400vh;
    position: relative;
    overflow: hidden;
}

.light-sky {
    width: 100%;
    height: 3000px;
    background: rgb(255, 127, 35);
    background: radial-gradient(circle, rgba(255, 127, 35, 1) 0%, rgba(255, 240, 121, 1) 29%, rgba(255, 241, 192, 1) 59%, rgba(217, 255, 255, 1) 100%);
    z-index: -5;
    position: absolute;
}

/* ----------------------------------------------------------- */
.hello {
    width: 100%;
    color: #fff;
    position: absolute;
    text-align: center;
    top: 9%;
    font-size: 3em;
    text-shadow: 0px 0px 10px #5c5c5cc4;
    animation: welcometexthide 0.7s 1s 1 forwards;
    z-index: 10;
}

.scrollment {
    width: 100%;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 9%;
    font-size: 2em;
    text-shadow: 0px 0px 10px #5c5c5cc4;
    animation: welcomebig 3s 4.6s ease-out infinite;
}

.downarrow i {
    width: 100%;
    color: #fff;
    position: absolute;
    text-align: center;
    top: 500px;
    font-size: 4em;
    text-shadow: 0px 0px 30px #b4b4b473;
    animation: downarrowmove 3s 1s ease-in infinite;
}

.midmsg {
    position: absolute;
    color: #fff;
    text-shadow: 0px 3px 5px #424242f8;
    z-index: 100;
}

.midmsg1 {
    top: 40%;
    left: 25%;
    font-size: 0.8em;
}

.midmsg2 {
    top: 58%;
    right: 20%;
    font-size: 0.9em;
}

.buttonwrap {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 9%;
    z-index: 20;
}
.enterbtn {
    width: 180px;
    height: 60px;
    background-color: #fff;
    border: 1px solid #000;
    position: absolute;
    bottom: 10%;
    text-align: center;
    line-height: 60px;
    border-radius: 10px;
    z-index: 10;
    box-shadow: 0px 0px 10px #fff;
    border: none;
    cursor: pointer;
}

.enterbtn p {
    text-decoration: none;
    color: #585858;
    font-size: 0.7em;
}

/* 블러효과용 div */
#main-section {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1.2s;
}

/* login sect -====================================================================*/

.logincontainer {
    width: 440px;
    height: 620px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    border-radius: 30px;
    font-family: "Pretendard-Regular";
}

.logincontainer .loginmainbox {
    width: 100%;
    height: 100%;
    background-image: url(../img/background-image/ancientbg1.png);
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 3px solid #c0c0c0;
    animation: loginboxmove 0.1s linear forwards;
    transition: 0.3s;
}
.enterbtn p {
    font-size: 0.8em;
    font-weight: bold;

}
.logincontainer .loginmainbox > i {
    font-size: 1.2em;
    font-weight: bold;
    color: #fffffff5;
    top: 25px;
    right: 25px;
    position: absolute;
    text-shadow: 0px 0px 15px #000;
    cursor: pointer;
}
.logincontainer .loginmainbox .loginformwrap {
    width: 63%;
    height: 70%;
    /*     background-color: #fff; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8%;
}

.logincontainer .loginmainbox .loginformwrap .loginwraps {
    width: 100%;
}
.logincontainer .loginmainbox .loginformwrap .loginwraps form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.logincontainer .loginmainbox .loginformwrap .loginwraps form input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ffffff31;
    background-color: #3f3f3f46;
}

.logincontainer .loginmainbox .loginformwrap .loginwraps form input::placeholder {
    color: #ffffff;
    font-size: 0.9em;
    padding: 20px;
}

.logintextwrap {
    width: 100%;
    display: flex;
    margin-top: 10px;
    padding: 0 6px;
    justify-content: space-between;
}
.logintextwrap a,
.logintextwrap p {
    font-size: 0.8em;
    color: #fff;
    text-shadow: 0px 0px 2px #1a1a1acb;
    transition: 0.3s;
    cursor: pointer;
}
.logintextwrap a:hover,
.logintextwrap p:hover {
    color: #329999;
}
.loginformwrap > h1 {
    color: #ffffff;
    font-size: 1.5em;
    text-shadow: 0px 0px 30px #000;
}
.logincontainer .loginmainbox .loginformwrap .loginwraps form input:nth-child(3) {
    color: #fff;
    background-color: #000;
    transition: .3s;
    cursor: pointer;
}

.logincontainer .loginmainbox .loginformwrap .loginwraps form input:nth-child(3):hover {
    background-color: #575757;
    color: #ffffff;
    border: 1px solid #fff;
}


.loginforother {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.loginforother div {
    width: 100%;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginforother div i {
    margin-left: 6px;
}
.loginforother div a {
    font-size: 0.7em;
}
.loginforother div:nth-child(1) {
    border-radius: 5px;
    background-color: #7289da;
    box-shadow: 0px 0px 15px #000000b6;
    cursor: pointer;
    transition: 0.3s;
}

.loginforother div:nth-child(1):hover {
    background-color: #4759a0;
}
.loginforother div:nth-child(1) a {
    color: white;
    font-weight: bold;
}
.loginforother div:nth-child(1) i {
    font-size: 1.8em;
    color: white;
}

.loginforother div:nth-child(2) {
    cursor: pointer;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px #000000b6;
    transition: 0.3s;
}
.loginforother div:nth-child(2):hover {
    background-color: #a0a0a0;
}
.loginforother div:nth-child(2) a {
    color: #000;
    font-weight: bold;
}
.loginforother div:nth-child(2) i {
    font-size: 1.8em;
    color: crimson;
}

.loginislater h1 {
    text-decoration: underline;
    font-size: 0.8em;
    color: #fff;
    transition: 0.3s;
}

.loginislater h1:hover {
    color: #329999;
}

/* sign up ---------------------------------------- */

.container .signup-container {
    width: 480px;
    height: 820px;
    font-family: "Pretendard-Regular";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    color: #fff;
    
}

.container .signup-container .signupbox {
    width: 100%;
    height: 100%;
    background-image: url(../img/background-image/signinbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 3px solid #c0c0c0;
    animation: loginboxmove .2s linear forwards;
    transition: .3s;
}

.signupwrap {
    width: 100%;
}

.signupwrap div p {
    font-size: 0.8em;
    padding: 4px 0 0 4px;
}
.signupbox span {
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 10%;
}
.container .signup-container .signupbox .signupwrap {
    width: 70%;
    height: 70%;
}

.container .signup-container .signupbox .signupwrap {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container .signup-container .signupbox .signupwrap input {
    width: 100%;
    height: 45px;
    border: 1px solid #ffffff31;
    background-color: #3f3f3f46;
    border-radius: 5px;
}

.container .signup-container .signupbox .signupwrap input::placeholder {
    color: #fff;
    font-size: 0.8em;
    padding-left: 14px;
}
.signupbox > i {
    font-size: 1.2em;
    font-weight: bold;
    color: #fffffff5;
    top: 25px;
    right: 25px;
    position: absolute;
    text-shadow: 0px 0px 15px #000;
    cursor: pointer;
}

/* sign in ------------------------------------------------------------ */

/* for script ------------------------------------------------- */

.hide {
    display: none;
}

.show {
    display: block;
}

.bluron {
    filter: blur(10px) brightness(200%);
}

.bluroff {
    filter: none;
}

.signuphide {
    display: none;
}

.signupshow {
    display: block;
}

/* 배경이미지 ===================================================== */
.backgroundimages img {
    position: absolute;
    height: auto;
    object-fit: cover;
    transition: 0.7s;
}

#mountain1 {
    width: 100%;
    z-index: -1;
}

#mountain2 {
    width: 100%;
    min-height: 90%;
    bottom: 0;
    z-index: 1;
}

#forest1 {
    width: 100%;
    min-height: 90%;
    bottom: 0%;
    z-index: 2;
}

#mountain3 {
    width: 100%;
    bottom: -18%;
    z-index: 3;
}

#mountain4 {
    width: 100%;
    bottom: -22%;
    z-index: 4;
}
#flat1 {
    width: 100%;
    bottom: 0%;
    z-index: 6;
}

#flat2 {
    width: 100%;
    bottom: -5%;
    z-index: 5;
}

#bat1 {
    width: 6%;
    bottom: 0%;
    left: 20%;
    z-index: 4;
}
#bird1 {
    width: 3%;
    top: 6%;
    right: 30%;
}

#flight-dragon {
    width: 160px;
    top: 5%;
    left: 35%;
}

/* animation ------------------------------------------------------ */
@keyframes welcometexthide {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.9;
    }
    100% {
        opacity: 0;
    }
}

@keyframes downarrowmove {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }
    15% {
        transform: translateY(-30px);
        opacity: 0;
    }
    30% {
        transform: translateY(30px);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes welcomebig {
    0% {
        font-size: 2em;
        opacity: 1;
    }
    100% {
        font-size: 2.2em;
        opacity: 0;
    }
}

@keyframes loginboxmove {
    0% {
        transform: translateY(5%);
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

/* 미디어 쿼리 --------------------------------------------- */

@media (max-width: 1200px) {
    .hello h1 {
        font-size: 2em;
    }
    .scrollment h1 {
        font-size: 1.5em;
    }

    #mountain2 {
        bottom: 6%;
    }

    #mountain3 {
        bottom: -10%;
    }

    #mountain4 {
        bottom: -10%;
    }
}

@media (max-width: 768px) {
    .hello {
        font-size: 1.6em;
    }
    .scrollment h1 {
        font-size: 0.9em;
    }
    #mountain1 {
        top: 4%;
    }

    #forest1 {
        bottom: -5%;
    }

    #mountain2 {
        bottom: 5%;
    }

    #mountain3 {
        bottom: 0;
    }

    #mountain4 {
        bottom: -5%;
    }
}
